.profile {
    width: 100%;

    .content {
        display: flex;
        justify-content: space-between;

        .part {
            flex-grow: 1;
            max-width: 50%;

            &-left {
                padding-right: 20px;

                .preview {
                    width: 100%;
                }
            }
            &-right {
                padding-left: 20px;
            }
        }
    }
}
